.wrapper {
    display: inline-flex;
    justify-content: center;
    font-size: 1.6rem;
    text-align: center;
    min-width: 100px;
    border-radius: 4px;
    padding: 9px 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 23, 35, 0.12);

    &:hover {
        border-color: rgba(22, 23, 35, 0.2);
        background-color: rgba(22, 23, 35, 0.03);
    }
}

// Button types
.primary {
    background-color: var(--primary-color);
    color: var(--white);
    border: 1px solid var(--primary-color);

    &:hover {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.05),
                rgba(0, 0, 0, 0.05)
            ),
            var(--primary-color);
        border-color: var(--primary-color);
    }
}

.outline {
    border-color: currentColor;
    color: var(--primary-color);

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);

        border-color: currentColor;
    }
}

// Button sizes

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 148px;
    padding: 14px 16px;
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-flex;
    width: 22px;
    align-items: center;
}
