.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    width: var(--header-primary-width);
    padding: var(--default-layout-spacer) 0px;
    min-height: 1000px;
}

.content {
    flex: 1;
}
